/* Header style */
.header-w3{
  overflow: visible;
  position: absolute;
  background-color: #1d2a35;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 550;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w3{
  color: #ddd;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 24px 24px 24px 24px;
}

.w3:hover, .w3:focus, .w3:active{
  background-color: #059862;
  color: white;
}

.w3h{
  width: auto;
  text-decoration: none;
  color: white;
  float: left;
  margin: 5px 5px;
padding: 20px 20px;
}

.logo{
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 15px;
  float: left;
}

.logo:hover, .logo:focus, .logo:active{
  opacity: .75;
}

.tkk{
  text-align: center;
}


@media screen and (max-width: 860px) {
  .tutorials{
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .referens{
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .exercises{
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .videos{
    display: none;
  }
}

.dark-mode{
  width: 20px;
  height: 20px;
  background-color: silver;
  text-align: center;
  margin-top: 12px;
  padding: 6px 6px;
  border-radius: 50px;
}

.dark-mode:hover, .dark-mode:focus, .dark-mode:active{
  opacity: .75;
}

.translate{
  width: 20px;
  height: 20px;
  margin-top: 12px;
  background-color: silver;
  text-align: center;
  padding: 6px 6px;
  border-radius: 50px;
}

.translate:hover, .translate:focus, .translate:active{
  opacity: .75;
}

.search{
  width: 20px;
  height: 20px;
  margin-top: 12px;
  background-color: silver;
  text-align: center;
  padding: 6px 6px;
  border-radius: 50px;
}

.search:hover, .search:focus, .search:active{
  opacity: .75;
}

.pro{
  margin-left: 5px;
  padding: 12px 16px;
  text-align: center;
  border-radius: 25px;
  background-color: white;
  color: black;
}

@media screen and (max-width: 1300px) {
  .pro{
    display: none;
  }
}

.pro:hover, .pro:focus, .pro:active{
  opacity: .4;
}

.certified{
  background-color: #FFC0C7!important;
  color: black;
  width: auto;
  padding: 12px 16px;
  text-align: center;
  border-radius: 25px;
}

@media screen and (max-width: 1200px) {
  .certified{
    display: none;
  }
}

.certified:hover, .certified:focus, .certified:active{
  opacity: .75;
}

.free-website{  
  width: auto; 
  background-color: #FFF4A3!important;
  color: black!important;
  padding: 12px 16px;
  text-align: center;
  border-radius: 25px;
}

@media screen and (max-width: 950px) {
  .free-website{
    display: none;
  }
}

.free-website:hover, .free-website:focus, .free-website:active{
  opacity: 0.75;
}

.log-in{
  width: 100px;
  margin-right: 35px;
  padding: 12px 16px;
  background-color: #04AA6D;
  color: white;
  text-align: center;
  border-radius: 25px;
  font-size: 18px;
}

.log-in:hover, .log-in:focus, .log-in:active{
  opacity: .75;
}

/* Header style */