@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
</style > .body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  display: block;
  margin-top: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100%;
}

.w3-row {
  margin-top: 0;
}
.ws-turquoise {
  background-color: #96d4d4;
  color: black!;
}

.w3-padding-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.w3-center {
  text-align: center !important;
}

.w3-content {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}

.w3-content::before {
  box-sizing: inherit;
}

.w3-col.l6 {
  padding: 3%;
}

h1 {
  font-size: 80px;
  margin: 2px 0 -20px 0;
}

p {
  font-size: 19px;
  font-weight: 600;
}

.tut-button {
  background-color: #04aa6d;
  color: white;
  padding: 8px 16px;
  font-size: 18px;
  margin: auto;
  padding: 8px 16px;
  display: block;
  width: 200px;
  border-radius: 25px;
}

.tut-button:hover {
  background-color: #059862;
  color: #fff;
}

.w3-button {
  border: none;
  font: 18px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.black-color {
  background-color: #282a35;
  color: white;
}

.black-color:hover {
  background-color: #000 !important;
  color: white !important;
}

.ref-button {
  background-color: #282a35;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 200px;
  border-radius: 25px;
  color: white;
  padding: 8px 16px;
}

.ws-pink {
  background-color: #ffc0c7;
  color: black;
}

.ws-pink-hover:hover {
  background-color: #ffb3bb !important;
  color: black !important;
}

.w3-col,
.l6 .w3-center p {
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

.grey-color {
  background-color: #e7e9eb;
  color: #000;
}

.w3-round {
  border-radius: 5px;
}

.w3-card,
.w3-card-2 {
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.green-border {
  border-left: 4px solid #04aa6d;
}

.w3-code {
  font-size: 15px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.w3-code {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

.w3-code {
  width: auto;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  border-left: 4px solid #4caf50;
  word-wrap: break-word;
}

.tryit-button {
  background-color: #04aa6d;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  width: 200px;
  display: inline-block;
  padding: 8px 16px;
}

.tryit-button:hover {
  background-color: #059862 !important;
  color: white !important;
}

.sqlcolor {
  font-family: Consolas, Menlo, "courier new", monospace;
  font-weight: 400;
}

@media (min-width: 993px) {
  .w3-col.l6 {
    width: 49.99999%;
  }
}

@media (max-width: 993px) {
  .w3-content {
    flex-direction: column;
    width: 100%;
  }
  .w3-col.l6 {
    width: 95%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
