body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100%;
}

.ws-black {
  background-color: #282a35;
  color: white;
}

.w3-center {
  text-align: center;
}

.ws-black,
.w3-center {
  background-color: #282a35;
  text-align: center;
}

.w3-content,
.learntocodecontent {
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.learntocodeh1 {
  font-size: 70px;
  font-weight: 700;
  margin-top: 40px!;
}
.learntocodeh3 {
  color: #ffc0c7;
  margin-top: 30px;
  font-size: 23px;
}

form.example {
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  height: 48px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #282a35;
  border-radius: 25px;
  float: left;
  width: 80%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #04aa6d;
  outline: 0;
}

form.example button {
  border-radius: 25px;
  float: left;
  width: 20%;
  padding: 10px;
  background: #04aa6d;
  color: white;
  font-size: 17px;
  border: 1px solid #282a35;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form.example button:hover {
  background: #059862;
}

#listofsearchresults {
  display: none;

  color: #000;
  width: 80%;
}

h1 {
  margin: 2px 0 -20px 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

a {
  background-color: transparent;
  color: white;
  font: 23px "Source Sans Pro", sans-serif;
}

a:hover,
a:active {
  color: #059862;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 fontawesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  font-size: 20px;
}
