/* Block1 start */

.header-w3{
  overflow: visible;
  position: absolute;
  background-color: #1d2a35;
  font-size: 18px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 550;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.w3{
  color: #ddd;
  text-decoration: none;
  float: left;
  text-align: center;
  padding: 24px 24px 24px 24px;
}

.w3:hover, .w3:focus, .w3:active{
  background-color: #059862;
  color: white;
}

.w3h{
  width: auto;
  text-decoration: none;
  color: white;
  float: left;
  margin: 5px 5px;
padding: 20px 20px;
}

.logo{
  padding-top: 10px;
  margin-left: 20px;
  margin-right: 15px;
  float: left;
}

.logo:hover, .logo:focus, .logo:active{
  opacity: .75;
}

.tkk{
  text-align: center;
}


@media screen and (max-width: 860px) {
  .tutorials{
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .referens{
    display: none;
  }
}

@media screen and (max-width: 860px) {
  .exercises{
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .videos{
    display: none;
  }
}

.dark-mode{
  width: 20px;
  height: 20px;
  background-color: silver;
  text-align: center;
  margin-top: 12px;
  padding: 6px 6px;
  border-radius: 50px;
}

.dark-mode:hover, .dark-mode:focus, .dark-mode:active{
  opacity: .75;
}

.translate{
  width: 20px;
  height: 20px;
  margin-top: 12px;
  background-color: silver;
  text-align: center;
  padding: 6px 6px;
  border-radius: 50px;
}

.translate:hover, .translate:focus, .translate:active{
  opacity: .75;
}

.search{
  width: 20px;
  height: 20px;
  margin-top: 12px;
  background-color: silver;
  text-align: center;
  padding: 6px 6px;
  border-radius: 50px;
}

.search:hover, .search:focus, .search:active{
  opacity: .75;
}

.pro{
  margin-left: 5px;
  padding: 12px 16px;
  text-align: center;
  border-radius: 25px;
  background-color: white;
  color: black;
}

@media screen and (max-width: 1300px) {
  .pro{
    display: none;
  }
}

.pro:hover, .pro:focus, .pro:active{
  opacity: .4;
}

.certified{
  background-color: #FFC0C7!important;
  color: black;
  width: auto;
  padding: 12px 16px;
  text-align: center;
  border-radius: 25px;
}

@media screen and (max-width: 1200px) {
  .certified{
    display: none;
  }
}

.certified:hover, .certified:focus, .certified:active{
  opacity: .75;
}

.free-website{  
  width: auto; 
  background-color: #FFF4A3!important;
  color: black!important;
  padding: 12px 16px;
  text-align: center;
  border-radius: 25px;
}

@media screen and (max-width: 950px) {
  .free-website{
    display: none;
  }
}

.free-website:hover, .free-website:focus, .free-website:active{
  opacity: 0.75;
}

.log-in{
  width: 100px;
  margin-right: 35px;
  padding: 12px 16px;
  background-color: #04AA6D;
  color: white;
  text-align: center;
  border-radius: 25px;
  font-size: 18px;
}

.log-in:hover, .log-in:focus, .log-in:active{
  opacity: .75;
}

/* Block1 end */

/* Block2 start */

body {
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  min-height: 100%;
}

.ws-black {
  background-color: #282a35;
  color: white;
}

.w3-center {
  text-align: center;
}

.ws-black,
.w3-center {
  background-color: #282a35;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
}

.w3-content,
.learntocodecontent {
  box-sizing: border-box;
  padding-left: 90px;
  padding-right: 90px;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1400px;
}

.learntocodeh1 {
  font-size: 70px;
  font-weight: 700;
  margin-top: 40px!;
}

.learntocodeh3 {
  color: #ffc0c7;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 23px;
}

form.example {
  position: relative;
  box-sizing: border-box;
  display: flex;
  margin: auto;
  height: 48px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
}

form.example input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid #282a35;
  border-radius: 25px;
  float: left;
  width: 80%;
  padding-left: 25px;
  background: white;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #04aa6d;
  outline: 0;
}

form.example button {
  border-radius: 25px;
  float: left;
  width: 20%;
  padding: 10px;
  background: #04aa6d;
  color: white;
  font-size: 17px;
  border: 1px solid #282a35;
  border-left: none;
  cursor: pointer;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form.example button:hover {
  background: #059862;
}

#listofsearchresults {
  display: none;

  color: #000;
  width: 80%;
}

h1 {
  margin: 2px 0 -20px 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 fontawesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  transform: translate(0, 0);
  font-size: 20px;
}

.h4-title {
  background-color: transparent;
  color: white;
  font-size: 23px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 10px;
  text-decoration: underline;
}

.h4-title:hover,
.h4-title:active {
  color: #059862;
}

/* Block2 end */

/* Block3 start */

h2.html-title {
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 100px;
  font-weight: 700;
  margin: 10px 6px -27px 0px;
  text-align: center;
  background-color: #d9eee1;
  color: black;
  display: block;
  line-height: 1.5;
}

.container {
  width: 1400px;
  background-color: #d9eee1;
  color: rgb(0, 0, 0);
  padding-top: 32px;
  padding-bottom: 32px;
}

.contant {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #d9eee1;
  color: rgb(0, 0, 0);
}

.box1 {
  position: static;
  padding-left: 22px;
  padding-top: 0px;
  padding-top: 2px;
  padding-bottom: 0px;
  width: 49.99999%;
  font-size: 15px;
}
.button_box {
  height: 271px;
  display: flex;
  justify-content: space-around;
  justify-content: center;
  flex-direction: column;
}
.button_1 {
  background-color: #04aa6d;
  color: #ffffff;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 25px;
  text-decoration: none;
}
.button_2 {
  background-color: #fff4a3;
  color: black;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 25px;
  line-height: 1.5;
  text-decoration: none;
}
.button_3 {
  background-color: #282a35;
  color: white;
  font-size: 17px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 25px;
  line-height: 1.5;
  text-decoration: none;
}
.button_4 {
  background-color: #ffc0c7;
  color: black;
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 45px;
  border-radius: 25px;
  line-height: 1.5;
  text-decoration: none;
}
.box2 {
  padding: 3%;
  width: 49.99999%;
  position: relative;
  margin-top: 5px;
  margin-left: 20px;
}
.board {
  height: 451px;
  width: 575px;
  background-color: rgb(240, 235, 235);
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  padding-left: 11px;
  padding-bottom: 6px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.window {
  height: 316px;
  width: 551px;
  background-color: white;
  border-left: 4px solid #4caf50;
}
h3 {
  padding-top: 30px;
  margin: 23px 9px 16px 1px;
  font-family: "Source Sans Pro", sans-serif;
}
.button_board {
  background-color: #04aa6d;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  width: 200px;
  height: 45px;
  padding: 11px 40px;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 992px) {
  .contant {
    display: flex;
    justify-content: flex-start;
  }
}
@media (max-width: 992px) {
  .box2 {
    display: none;
  }
}

/* Block3 end */

/* Block4 start */

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
}

.w3-content-yellow-a a {
  text-decoration: none;
}

.w3-content-yellow-a a:hover {
  filter: brightness(0.75);
}

.w3-content-yellow-a * {
  box-sizing: border-box;
}

.w3-content-yellow-a {
  background-color: rgb(255, 244, 162);
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 32px 0;
}

.block1-yellow-a {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

.bl1-info {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 100px;
  font-weight: 700;
  text-align: center;
  line-height: 150px;
}

.bl1-info2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  text-align: center;
  line-height: 28.5px;
  font-weight: 600;
  margin: 10px 0;
}

.bl1-info3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  text-align: center;
  line-height: 28.5px;
  color: white;
  padding: 8px 16px;
  margin: 10px;
  font-weight: 600;
}

.bl1-info4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  text-align: center;
  line-height: 28.5px;
  color: white;
  padding: 8px 16px;
  margin: 10px;
  font-weight: 600;
}

.bl1-info5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  text-align: center;
  line-height: 28.5px;
  padding: 8px 16px;
  margin: 10px;
  font-weight: 600;
}

.green-button-a {
  background-color: rgb(4, 170, 109);
  border-radius: 25px;
  width: 200px;
  border: 0px;
}

.green-button-a a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.black-button-a {
  background-color: #282a35;
  border-radius: 28px;
  width: 200px;
  border: 0px;
}

.black-button-a a {
  color: white;
  text-decoration: none;
  cursor: pointer;
  overflow: hidden;
}

.pink-button-a {
  background-color: #FFC0C7;
  border-radius: 28px;
  width: 200px;
  color: black;
  border: 0px;
}

.pink-button-a a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.block2-yellow-a {
  background-color: rgb(255, 244, 162);
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
}

.bl2-gen {
  background-color: #E7E9EB;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.bl2-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  background-color: #E7E9EB;
  margin: 10px 0px;
}

.bl2-2parts {
  display: flex;
}

.green-line {
  height: 275px;
  width: 4px;
  background-color: rgb(4, 170, 109);
  margin: 10px 0px;
}

.bl2-img {
  background-color: white;
  width: 100%;
  margin: 10px 0px;
  height: 275px;
  font-family: 'Consolas', monospace;
  font-size: 15px;
  line-height: 10px;
  text-align: left;
  padding-left: 15px;
  padding: 8px 12px;
}

.bordo {
  color: brown;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.bl2-but-bg {
  background-color: #E7E9EB;
}

.bl2-but {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  text-align: center;
  line-height: 28.5px;
  color: white;
  padding: 8px 16px;
  margin: 10px;
  font-weight: 600;
}

@media (max-width:993px) {
  .w3-content-yellow-a {
    flex-direction: column;
  }

  .block1-yellow-a {
    width: 100%;
  }

  .block2-yellow-a {
    width: 100%;
  }

  .bl2-2parts {
    width: auto;
  }
}

/* Block4 end */

/* Block5 start */

.container3 {
  background-color: #282a35;
  color: white;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contant {
  max-width: 1322px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.box1 {
  padding: 3%;
  width: 49, 999%;
}
h1 {
  font-weight: 700;
  font-size: 63px;
  margin-bottom: 40px;
  font-family: "Source Sans Pro", sans-serif;
}

.button1 {
  background-color: #04aa6d;
  color: white;
  font-size: 18px;
  margin: 28px 0px 6px 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 40px;
  border-radius: 25px;
}

.button2 {
  background-color: white;
  color: black;
  font-size: 18px;
  margin: 23px 0px 6px 68px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 191px;
  height: 40px;
  border-radius: 25px;
}
.button3 {
  background-color: #ffc0c7;
  color: black;
  font-size: 18px;
  margin: auto;
  display: block;
  width: 191px;
  height: 40px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px 6px 68px;
}
.box2 {
  background-color: #282a35;
}
.tab {
  width: 548px;
  height: 349px;
  background-color: rgb(240, 235, 235);
  border-radius: 5px;
  padding-left: 20px;
  margin: 50px 38px 15px 11px;
}
.window {
  width: 490px;
  height: 200px;
  background-color: white;
  border-left: 5px solid #04aa6d;
}
line {
  height: 230px;
  width: 5px;
  background-color: #04aa6d;
}
h3 {
  color: #000;
  padding-top: 26px;
  padding-left: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 21px;
}
.img {
  width: 100px;
  height: 300px;
}
.button4 {
  background-color: #04aa6d;
  height: 40px;
  width: 191px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans Pro", sans-serif;
  margin: 26px 0px 0px 0px;
}
@media (max-width: 995px) {
  .contant {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .tab {
    display: none;
  }
}
.p2 {
  color: #000;
  font-size: 15px;
  text-align: justify;
  padding-top: 10px;
  padding-left: 10px;
  font-weight: 400;
}

/* Block5 end */

/* Block6 start */

.python-wrapper__section{
  background-color: #F3ECEA;
  color: black;
  display: flex;
  justify-content: space-around;
  padding-bottom: 45px;
}

.python-wrapper{
  padding-top: 25px;
  padding-bottom: 25px;
  width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F3ECEA;
  color: black;
}

.python-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.python-h2{
  margin-top: 20px;
  margin-bottom: 5px;
  font-size: 80px;
  text-align: center;
  color: black;
  background-color: #F3ECEA;
}

.random-text{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.python-items{
  margin-top: 20px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  padding: 8px 50px;
}

.learn-python{
  margin-top: 15px;
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  display: block;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

.learn-python:hover, 
.learn-python:focus, 
.learn-python:active{
  opacity: 0.75;
}

.python-reference{
  background-color: #282A35;
  color: white;
  font-size: 18px;
  display: block;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  padding: 8px 35px;
}

.python-reference:hover, 
.python-reference:focus, 
.python-reference:active{
  background-color: black;
  color: white;
}

.python-certified{
  background-color: #FFC0C7;
  color: black;
  font-size: 18px;
  display: block;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

.python-certified:hover, 
.python-certified:focus, 
.python-certified:active{
  opacity: 0.75;
}

.py-ex{
  margin-top: 35px;
  margin-left: 35px;
  margin-right: 50px;
  border-radius: 5px;
  width: 50%;
  background-color: #38444d;
  color: #ddd;
}

.p-ex{
  margin-right: 40px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 8px 12px;
}

.p-block{
  margin-left: 15px;
  margin-right: 15px;
  background-color: rgb(21,32,43);
  height: 220px;
  width: auto;
  border-left: 4px solid rgb(40,44,52);
}

.button-tryit{
  background-color: #38444d;
  border: none;
  border-radius: 5px;
}

.tryit{
  display: block;
  margin: 15px 15px;
  color: white;
  background-color: #059862;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  padding: 8px 45px;
  font-size: 18px;
}

.tryit:hover, 
.tryit:focus, 
.tryit:active{
  opacity: 0.75;
}

@media screen and (max-width: 992px) {
  .python-wrapper{
    display: flex;
    flex-direction: column;
  }
}

/* Block6 end */

/* Block7 start */

.w3-content-turquoise-a a {
  text-decoration: none;
}

.w3-content-turquoise-a * {
  box-sizing: border-box;
}

.w3-content-turquoise-a {
  background-color: #96d4d4;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 32px 0;
}

.block1-turquoise-a {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

/*
h1 {
  font-size: 80px;
  margin: 2px 0 -20px 0;
}
*/

.bll1-info {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 80px;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.bll1-info2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  text-align: center;
  line-height: 28.5px;
  font-weight: 600;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  color: #000;
}

.green-button-a:hover {
  background-color: #059862;
  color: #fff;
}

.black-button-a:hover {
  background-color: #000;
  color: white;
}

.pink-button-a:hover {
  background-color: #ffb3bb;
  color: black;
}

.block2-turquoise-a {
  background-color: #96d4d4;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
}

.bll2-gen {
  background-color: #e7e9eb;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
}

.bll2-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #000;
  margin: 10px 0px;
}

.w3-button {
  border: none;
  font: 18px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-col,
.l6 .w3-center p {
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

.grey-color {
  background-color: #e7e9eb;
  color: #000;
}

.green-border {
  border-left: 4px solid #04aa6d;
}

.w3-code {
  font-size: 15px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.w3-code {
  margin-top: 16px;
  margin-bottom: 16px;
}

.w3-code {
  width: auto;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  border-left: 4px solid #4caf50;
  word-wrap: break-word;
}

.tryit-button {
  background-color: #04aa6d;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  width: 200px;
  display: inline-block;
  padding: 8px 16px;
}

.tryit-button:hover {
  background-color: #059862;
  color: white;
}

.sqlcolor {
  font-family: Consolas, Menlo, "courier new", monospace;
  font-weight: 400;
}

@media (max-width: 993px) {
  .w3-content-turquoise-a {
    flex-direction: column;
  }

  .block1-turquoise-a {
    width: 100%;
  }

  .block2-turquoise-a {
    width: 100%;
  }

  .bl2-2parts {
    width: auto;
  }
}

/* Block7 end */

/* Block8 start */

.conteiner1 {
  background-color: #282a35;
  color: white;
  padding-top: 64px;
  padding-bottom: 64px;
  display: flex;
  justify-content: normal;
  flex-wrap: wrap;
  width: 1346px;
}
.box_out1,
.box_out2,
.box_out3,
.box_out4,
.box_out5,
.box_out6 {
  padding: 29px 41px;
}
.box_1 {
  color: black;
  background-color: #ffc0c7;
  width: 591px;
  height: 260px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-family: "Source Sans Pro", sans-serif;
  padding: 24px 24px 24px 24px;
  box-sizing: border-box;
}
.h2_1 {
  font-size: 40px;
  font-weight: 700;
  margin: 21px 0;
}
.h5_1 {
  height: 20px;
  font-size: 16px;
  margin: 25px 0;
}
.button_1 {
  background-color: #282a35;
  color: white;
  font-size: 16px;
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px 171px;
}
.box_2 {
  background-color: #fff4a3;
  color: black;
  width: 591px;
  height: 260px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-family: "Source Sans Pro", sans-serif;
  padding: 24px 24px 24px 24px;
  box-sizing: border-box;
}
.h2_2 {
  font-size: 40px;
  font-weight: 700;
  margin: 21px 0;
}
.h5_2 {
  height: 20px;
  font-size: 16px;
  margin: 25px 0;
}
.button_2 {
  background-color: #282a35;
  color: white;
  font-size: 16px;
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px 171px;
}
.box_3 {
  color: black;
  background-color: #f3ecea;
  width: 591px;
  height: 260px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-family: "Source Sans Pro", sans-serif;
  padding: 24px;
  box-sizing: border-box;
}
.h2_3 {
  font-size: 40px;
  font-weight: 700;
  margin: 21px 0;
}
.h5_3 {
  height: 20px;
  font-size: 16px;
  margin: 25px 0;
}
.button_3 {
  background-color: #282a35;
  color: white;
  font-size: 16px;
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px 171px;
}
.box_4 {
  color: black;
  background-color: #d9eee1;
  width: 591px;
  height: 260px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-family: "Source Sans Pro", sans-serif;
  padding: 24px;
  box-sizing: border-box;
}
.h2_4 {
  font-size: 40px;
  font-weight: 700;
  margin: 21px 0;
}
.h5_4 {
  height: 20px;
  font-size: 16px;
  margin: 25px 0;
}
.button_4 {
  background-color: #282a35;
  color: white;
  font-size: 16px;
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px 171px;
}
.box_5 {
  color: black;
  background-color: #96d4d4;
  width: 591px;
  height: 260px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-family: "Source Sans Pro", sans-serif;
  padding: 24px;
  box-sizing: border-box;
}
.h2_5 {
  font-size: 40px;
  font-weight: 700;
  margin: 21px 0;
}
.h5_5 {
  height: 20px;
  font-size: 16px;
  margin: 25px 0;
}
.button_5 {
  background-color: #282a35;
  color: white;
  font-size: 16px;
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px 171px;
}
.box_6 {
  color: black;
  background-color: #e7e9eb;
  width: 591px;
  height: 260px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  font-family: "Source Sans Pro", sans-serif;
  padding: 24px;
  box-sizing: border-box;
}
.h2_6 {
  font-size: 40px;
  font-weight: 700;
  margin: 21px 0;
}
.h5_6 {
  height: 20px;
  font-size: 16px;
  margin: 25px 0;
}
.button_6 {
  background-color: #282a35;
  color: white;
  font-size: 16px;
  margin: auto;
  width: 200px;
  height: 40px;
  border-radius: 25px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 46px 171px;
}
@media (max-width: 992px) {
  .conteiner {
    display: flex;
    flex-direction: column;
  }
}

/* Block8 end */

/* Block9 start */

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.block9-container a{
  text-decoration: none;
  color: black;
}

.block9-container a:hover {
  filter: brightness(1.1);
  transition-duration: 0.3s;
}

.block9-black {
  background-color: #282A35;
  padding: 2% 3%;
}

.block9-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}

.button-item {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  margin: 2.5%;
  cursor: pointer;
  font-weight: 600;
  opacity: 0.9;
  flex: 0 1 auto;
}

.item-size1 {
  width: 45%;
  height: 113px;
}

.item-size2 {
  width: 20%;
  height: 113px;
}

.item-size3 {
  width: 45%;
  height: 137px;
}

.item-color-pink {
  background-color: #FFC0C7;
}

.item-color-yellow {
  background-color: #FFF4A3;
}

.item-color-grey {
  background-color: #F3ECEA;
}

.item-color-green {
  background-color: #D9EEE1;
}

.item-color-blue {
  background-color: #96D4D4;
}

@media (max-width:992px) {
  .item-size1 {
      width: 100%;
      height: 113px;
  }

  .item-size2 {
      width: 45%;
      height: 113px;
  }

  .item-size3 {
      width: 100%;
      height: 137px;
  }
}

@media (max-width:600px) {
  .item-size2 {
      width: 100%;
      height: 113px;
  }
}

/* Block9 end */

/* Block10 start */

.w3schools_spaces {
  background-color: #f3ecea;
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282a35;
  opacity: 0.96;
  margin: auto;
  padding: 85px 20px;
}
@media screen and (max-width: 768px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
h1 {
  font-size: 54px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;
  margin: 2px 0 -20px 0;
}
h3 {
  margin-top: 54px;
  font-weight: 400;
  font-size: 24px;
}
br {
  box-sizing: inherit;
}
.button {
  background-color: #04aa6d;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  width: 253px;
  height: 29px;
  padding: 12px 13px;
  border-radius: 25px;
  margin: 5px -6px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  margin: 19px -7px 0px 0px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 15px;
    width: 150px;
    height: 25px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
  }
}

/* Block10 end*/