h1 {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 91px;
    font-weight: 700;
    margin: 10px 6px -27px 0px;
    text-align: center;
    background-color: #D9EEE1!important;
    color: black;
    display: block;
    line-height: 1.5;
}

.container{
    width: 1400px;
    background-color: #D9EEE1;;
    color: rgb(0, 0, 0);
    padding-top: 32px;
    padding-bottom: 32px;
}

.contant{
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #D9EEE1;;
    color: rgb(0, 0, 0); 
 } 

.box1{
    position: static;
    padding-left: 22px;
    padding-top: 0px;
    padding-top: 2px;
    padding-bottom: 0px;
    width: 49.99999%;
    font-size: 15px;
}
.button_box{
    height: 271px;
    display: flex;
    justify-content: space-around;
    justify-content: center;
    flex-direction: column;
}
.button_1{
    background-color: #04AA6D;
    color: #ffffff;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    text-decoration: none;
}
.button_2{
    background-color: #FFF4A3;
    color: black;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    line-height: 1.5;
    text-decoration: none;
}
.button_3{
    background-color: #282A35;
    color: white;
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    line-height: 1.5;
    text-decoration: none;
}
.button_4{
    background-color: #FFC0C7;
    color: black;
    font-size: 19px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 45px;
    border-radius: 25px;
    line-height: 1.5;
    text-decoration: none;
}
.box2{
    padding: 3%;
    width: 49.99999%;
    position: relative;
    margin-top: 5px;
    margin-left: 20px;
}
.board{
    height: 451px;
    width: 575px;
    background-color: rgb(240, 235, 235);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    padding-left: 11px;
    padding-bottom: 6px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.window{
    height: 316px;
    width: 551px;
    background-color: white;
    border-left: 4px solid #4CAF50;
   
}
h3{
    padding-top: 30px;
    margin: 23px 9px 16px 1px;
    font-family: 'Source Sans Pro', sans-serif;
}
.button_board{
    background-color: #04AA6D;
    color: white;
    border-radius: 25px;
    font-size: 18px;
    width: 200px;
    height: 45px;
    padding: 11px 40px;
    text-align: center;
    text-decoration: none;
  
   
}
@media (max-width: 992px) {
    .contant {
      display: flex;
      justify-content: flex-start;
   
    }
  }
  @media  (max-width: 992px) {
    .box2 {
      display:none ;
    }
  }
