@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");
</style > body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.w3-content-turquoise-a a {
  text-decoration: none;
}

.w3-content-turquoise-a * {
  box-sizing: border-box;
}

.w3-content-turquoise-a {
  background-color: #96d4d4;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  padding: 32px 0;
}

.block1-turquoise-a {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

/*
h1 {
  font-size: 80px;
  margin: 2px 0 -20px 0;
}
*/

.bll1-info {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 80px;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.bll1-info2 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 19px;
  text-align: center;
  line-height: 28.5px;
  font-weight: 600;
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  color: #000;
}

.green-button-a:hover {
  background-color: #059862;
  color: #fff;
}

.black-button-a:hover {
  background-color: #000;
  color: white;
}

.pink-button-a:hover {
  background-color: #ffb3bb;
  color: black;
}

.block2-turquoise-a {
  background-color: #96d4d4;
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3%;
}

.bll2-gen {
  background-color: #e7e9eb;
  padding: 16px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  border-radius: 5px;
}

.bll2-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  color: #000;
  margin: 10px 0px;
}

.w3-button {
  border: none;
  font: 18px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.w3-col,
.l6 .w3-center p {
  font-size: 19px;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5;
  font-weight: 600;
}

.grey-color {
  background-color: #e7e9eb;
  color: #000;
}

.green-border {
  border-left: 4px solid #04aa6d;
}

.w3-code {
  font-size: 15px;
}

h3 {
  font-size: 24px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.w3-code {
  margin-top: 16px;
  margin-bottom: 16px;
}

.w3-code {
  width: auto;
  background-color: #fff;
  color: #000;
  padding: 8px 12px;
  border-left: 4px solid #4caf50;
  word-wrap: break-word;
}

.tryit-button {
  background-color: #04aa6d;
  color: white;
  border-radius: 25px;
  font-size: 18px;
  width: 200px;
  display: inline-block;
  padding: 8px 16px;
}

.tryit-button:hover {
  background-color: #059862;
  color: white;
}

.sqlcolor {
  font-family: Consolas, Menlo, "courier new", monospace;
  font-weight: 400;
}

@media (max-width: 993px) {
  .w3-content-turquoise-a {
    flex-direction: column;
  }

  .block1-turquoise-a {
    width: 100%;
  }

  .block2-turquoise-a {
    width: 100%;
  }

  .bl2-2parts {
    width: auto;
  }
}
