.w3schools_spaces {
  background-color: #f3ecea;
  color: white;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282a35;
  opacity: 0.96;
  margin: auto;
  padding: 85px 20px;
}
@media screen and (max-width: 768px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
h1 {
  font-size: 54px;
  font-weight: 700;
  font-family: "Source Sans Pro", sans-serif;

  margin: 2px 0 -20px 0;
}
h3 {
  margin-top: 54px;
  font-weight: 400;
  font-size: 24px;
}
br {
  box-sizing: inherit;
}
.button {
  background-color: #04aa6d;
  font-size: 20px;
  font-family: "Source Sans Pro", sans-serif;
  width: 253px;
  height: 29px;
  padding: 12px 13px;
  border-radius: 25px;
  margin: 5px -6px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img {
  margin: 19px -7px 0px 0px;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 992px) {
  .img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
  }
}
@media (max-width: 768px) {
  .button {
    font-size: 15px;
    width: 150px;
    height: 25px;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 27px;
    font-weight: 400;
    text-align: center;
  }
}
