/* Python style */

.python-wrapper__section{
  width: 100%;
  background-color: #F3ECEA;
  color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.python-wrapper{
  padding-top: 50px;
  padding-bottom: 50px;
  width: 1400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #F3ECEA;
  color: black;
}

.python-content{
  width: 49.9%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
}

.python-h2{
  margin-top: -10px;
  font-size: 80px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  color: black;
  background-color: #F3ECEA;
}

.random-text{
  display: block;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.python-items{
  margin-top: 15px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  padding: 8px 12px;
}

.learn-python{
  margin-top: 15px;
  background-color: #04AA6D;
  color: white;
  font-size: 18px;
  display: block;
  width: 200px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

.learn-python:hover, 
.learn-python:focus, 
.learn-python:active{
  opacity: 0.75;
}

.python-reference{
  background-color: #282A35;
  color: white;
  font-size: 18px;
  display: block;
  width: 200px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

.python-reference:hover, 
.python-reference:focus, 
.python-reference:active{
  background-color: black;
  color: white;
}

.python-certified{
  background-color: #FFC0C7;
  color: black;
  font-size: 18px;
  display: block;
  width: 200px;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}

.python-certified:hover, 
.python-certified:focus, 
.python-certified:active{
  opacity: 0.75;
}

.py-ex{
  border-radius: 4px;
  width: 49.9%;
  background-color: #38444d;
  color: #ddd;
  box-sizing: inherit;
  padding: 15px 15px;
  margin-right: 35px;
}

.p-ex{
  padding: 8px 12px;
}

.p-block{

  background-color: rgb(21,32,43);
  height: 210px;
  border-left: 4px solid rgb(40,44,52);
}

.tryit{
  display: block;
  margin: 15px 15px;
  width: 200px;
  color: white;
  background-color: #059862;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
  padding: 8px 12px;
  font-size: 18px;
}

.tryit:hover, 
.tryit:focus, 
.tryit:active{
  opacity: 0.75;
}

@media screen and (max-width: 992px) {
  .python-wrapper{
    display: flex;
    flex-direction: column;
  }
}

/* Python style */